.containerRegister{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -70px;
}
@media (max-width: 1024px) {
    .containerRegister {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .containerForm {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .img {
        width: 400px;
        margin-top: 20px;
    }

    .containerImg {
        display: grid;
        place-items: center;
        width: 100%;
    }
}
